<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Off"
              propagateActivity="true">
        <listeners>
          <add name="HostLogging"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="C:\Temp\HostLogging.svclog" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="MessageHostLogging"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="C:\Temp\MessageHostLogging.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging
        logEntireMessage="true"
        logMalformedMessages="true"
        logMessagesAtServiceLevel="true"
        logMessagesAtTransportLevel="true"
        maxMessagesToLog="100"
        maxSizeOfMessageToLog="2000">
      </messageLogging>
    </diagnostics>
    <services>
      <service name="WCFVides.Servico.ServicoDeGestaoDeCredito"
               behaviorConfiguration="ServiceConfig">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9876"/>
            <add baseAddress="http://localhost:8766"/>
          </baseAddresses>
        </host>
        <endpoint address="srv"
                  binding="netTcpBinding"
                  contract="WCFVideos.Contratos.IGestorDeCredito" />
        <endpoint address="srv"
                  binding="wsDualHttpBinding"
                  contract="WCFVideos.Contratos.IGestorDeCredito" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceConfig">
          <serviceMetadata httpGetEnabled="true"/>
          <!--<serviceDebug includeExceptionDetailInFaults="true"/>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>