<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Off"
              propagateActivity="true">
        <listeners>
          <add name="ClientLogging"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="C:\Temp\ClientLogging.svclog" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="MessageClientLogging"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="C:\Temp\MessageClientLogging.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging
        logEntireMessage="true"
        logMalformedMessages="true"
        logMessagesAtServiceLevel="true"
        logMessagesAtTransportLevel="true"
        maxMessagesToLog="100"
        maxSizeOfMessageToLog="2000">
      </messageLogging>
    </diagnostics>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IGestorDeCredito"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="524288"
                 maxBufferSize="65536"
                 maxConnections="10"
                 maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="8192"
                        maxArrayLength="16384"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <reliableSession ordered="true"
                           inactivityTimeout="00:10:00"
                           enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows"
                       protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IGestorDeCredito"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 bypassProxyOnLocal="false"
                 transactionFlow="false"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="524288"
                 maxReceivedMessageSize="65536"
                 messageEncoding="Text"
                 textEncoding="utf-8"
                 useDefaultWebProxy="true">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="8192"
                        maxArrayLength="16384"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <reliableSession ordered="true"
                           inactivityTimeout="00:10:00" />
          <security mode="Message">
            <message clientCredentialType="Windows"
                     negotiateServiceCredential="true"
                     algorithmSuite="Default" />
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9876/srv"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGestorDeCredito"
                contract="ServiceDeGestaoDeCredito.IGestorDeCredito"
                name="NetTcpBinding_IGestorDeCredito">
        <identity>
          <userPrincipalName value="IsraelAece\Israel Aece" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8766/srv"
                binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IGestorDeCredito"
                contract="ServiceDeGestaoDeCredito.IGestorDeCredito"
                name="WSDualHttpBinding_IGestorDeCredito">
        <identity>
          <userPrincipalName value="IsraelAece\Israel Aece" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>